<div>
  <script>
    (function() {
      var cx = '005761542194985378346:ct7jbvbzofy';
      var gcse = document.createElement('script');
      gcse.type = 'text/javascript';
      gcse.async = true;
      gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(gcse, s);
    })();
  </script>
  <gcse:search></gcse:search>
</div>


<ul>
<% @questions.each do |question| %>
<li> <%= link_to question.title, question_path(question) %> </li>
<% end %>
</ul>
