<header class="questions-nav">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Log Out", logout_path %></li>
    <li><%= link_to "Questions", questions_path %></li>
  </ul>
  <h1> Flowing with Ruby </h1>
</header>

<div>
  <% if @user.id == session[:user_id] %>
    Welcome, <%= @user.name %>!
  <% end %>
</div>