<div class="works">
  <h2> How it works ? </h2>
  <p> First Anybody can ask a question</p>
  <p>Second Anybody can answer</p>
  <p>Third The best answers are voted up and rise to the top
  </p>
</div>

<h2 class="about"> About Us </h2>

<div class="flex-container">
  <div>
    <%= image_tag("marionew1.png")%>
    <p> Lorem ipsum dolor sit amet magna aliqua.</p>
  </div>
  <div>
    <%= image_tag("marionew1.png")%>
    <p>Duis aute irure dolor in reprehenderit proident.</p>
  </div>
  <div>
    <%= image_tag("marionew1.png")%>
    <p> Excepteur sint occaecat cupidatat non proident.</p>
  </div>
  <div>
    <%= image_tag("marionew1.png")%>
    <p> Excepteur sint occaecat cupidatat non proident.</p>
  </div>
</div>

