// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
}

header {
  margin-top: 0;
  background-color: black;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 1.1em;
}

header ul {
  margin-top: 0;
}

header li {
  display: inline-block;
  margin-left: 8.7em;
  padding-right: 9em;
  padding-top: 0.4em;
}

header li a{
  color: white;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

h1{
  text-align: center;
  font-size: 2em;
  padding-bottom: 0.5em;
}

p {
justify-content: center;
font-family: 'Lato', sans-serif;
}

.works{
  margin-top:1.7em;
  display: inline-block;
  text-align: center;
  background-color: silver;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1em;
  border-radius: 25px;
  padding: 1em 12em 1em 12em;
  margin-left: 11.2em;
}

.flex-container {
 display: flex;
 flex-direction: row;
 max-width: 100%;
}

.flex-container > div {
flex: 1;
   margin-left: 1em;
}

.flex-container > p {
  overflow-wrap: break-word;
  flex: 1;
}

.about {
  margin-top: 1.7em;
  margin-bottom: 1.7em;
  text-align: center;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
}

footer{
padding-top: 0.4em;
width:100%;
text-align: center;
background-color: black;
display: block;
color: white;
padding-bottom: 0.5em;
}

.copyright {
  padding-top: 0.6em;
}

i {
  margin-right: 1em;
  z-index: 100;
  color: white;
}
