// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 0;
}

header {
  margin-top: 0;
  background-color:  #df7020;
  color: white;
  font-family: 'Mina', sans-serif;
  font-size: 1.1em;
}

header ul {
  margin-top: 0;
}

header li {
  display: inline-block;
  margin-left: 8.7em;
  padding-right: 9em;
  padding-top: 0.2em;
}

header li a{
  color: white;
  text-decoration: none;
  font-family: 'Mina', sans-serif;
}

h1{
  text-align: center;
  font-size: 2.4em;
  padding-bottom: 0.2em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

h2 {
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: 'Mina', sans-serif;
  font-size: 2em;
}

p {
justify-content: center;
font-family: 'Mina', sans-serif;
}

.works{
  margin-top:1.5em;
  display: inline-block;
  text-align: center;
  background-color:  #e6e6e6;
  font-family: 'Mina', sans-serif;
  font-size: 1.1em;
  padding: 0.5em 21.5em 0.5em 21.5em;
  margin: 1em 2em 1em 2em;
}

.works h2 {
  margin: 0.2em;
}

.flex-container {
 display: flex;
 flex-direction: row;
 max-width: 100%;
}

.flex-container > div {
  flex: 1;
  margin-left: 2.1em;
}

.flex-container > p {
  overflow-wrap: break-word;
  flex: 1;
}

.about {
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  font-family: 'Mina', sans-serif;
}

footer{
  letter-spacing: 0.1em;
  margin-top: 1em;
  padding-top: 0.1em;
  width:100%;
  text-align: center;
  background-color:  #df7020;
  display: block;
  color: white;
  padding-bottom: 0.1em;
  text-transform: uppercase;
}

i {
  margin-right: 1em;
  z-index: 100;
  color: white;
}
