// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.greenVote {
  background-color: green;
}

.redVote {
  background-color: red;
}

.voteQuestion {
  display: flex;
  justify-content: space-between;
}

.downVote {
  margin-right: 3em;
}