// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-style {
   text-align: center;
   background-color: #e6e6e6;
   padding: 2em 21.5em 2em 21.5em;
   margin: 1em 2em 6.6em 2em;
   height: 13em;
}

.mail{
 padding: 1em 20em 1em 0.5em;
 border: 1px solid black;
 border-radius: 4px;
 box-sizing: border-box;
 margin-bottom: 2em;
}

.pass{
  padding: 1em 20em 1em 0.5em;
  border: 1px solid black;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.button:hover{
 background-color: #df7020;
}

.button{
  background-color: #215AAE;
  color: white;
  padding: 1em 4em;
  border: none;
  border-radius: 4px;
  margin-top: 2em;
}